.list {
  border: 5px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 5px 5px black;
}

.list a {
  border: 2px solid black;
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 5px;
}

table {
  width: 95%;
  margin-left: auto; 
  margin-right: auto; 
}

th {
  font-size: 25px;
  border-bottom: 2px solid black;
}

th.team {
  text-align: left;
}

th.team-points {
  text-align: right;
}

td.name {
  text-align: left;
}

td.puntos {
  text-align: right;
}